
.main-container-editar-perfil {
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px #3a2d3431;
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 10px;
}

#editar-titulo{
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 8px rgba(117, 97, 157, 0.24);
  color: black;
}

.formulario-editar-perfil{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}


.formulario-editar-perfil button{
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

/*Mensajes*/
#message-sent{
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}