
.main-container {
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px #3a2d3431;
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 10px;
}

#editar-titulo{
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 8px rgba(117, 97, 157, 0.24);
  color: black;
}

.formulario-editar-perfil{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}


.formulario-editar-perfil button{
  margin-top: 1rem;
  padding: 0.8rem;
  background: #75619d;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase; /*el texto queda en mayusculas*/
  letter-spacing: 0.1rem;
  box-shadow: 0 0 6px rgba(117, 97, 157, 0.6);
}

/*cambia de color cuando pasa el mouse*/
.formulario-editar-perfil button:hover{
  background: #3f2a52;
  box-shadow: 0 0 12px rgba(190, 174, 219, 0.9);
}

/*Mensajes*/
#message-sent{
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}