/* Fondo general */
.perfil-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 40px;
  box-sizing: border-box;
}



/* Tarjeta general */

.perfil-card {
  max-width: 620px;
  margin: auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
  animation: fadeIn 1s ease;
  color: #3a2d4f;
}


/* HEADER: avatar + nombre */
.perfil-header {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.perfil-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(140, 108, 180, 0.4);
  /* borde lavanda suave */
  box-shadow: 0 0 15px rgba(165, 130, 210, 0.4);
  animation: floatAvatar 3s ease-in-out infinite;
}

.perfil-avatar-placeholder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(200, 180, 225, 0.4);
  border: 3px solid rgba(140, 108, 180, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil-nombre {
  font-size: 2rem;
  font-weight: 600;
}

.perfil-email {
  opacity: 0.8;
}

/* INFORMACIÓN */
.perfil-info {
  margin-top: 30px;
  background: #f7f4fb;
  /* lavanda super suave, casi blanco */
  padding: 25px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.perfil-info h2 {
  margin-bottom: 20px;
  color: #3a2d4f;
  text-align: center;
}

.perfil-info-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  color: #3a2d4f;
  font-weight: 500;
}

.perfil-info-item:last-child {
  border-bottom: none;
}

.label {
  opacity: 0.8;
}

/* Botón */
.perfil-actions {
  margin-top: 35px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.perfil-btn,
.historial-btn {
  padding: 10px 20px;
  font-size: 16px;
  margin: 4px 2px;
  width: 150px;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.perfil-btn:hover {
  transform: scale(1.05);
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Cargando / Error */
.perfil-cargando,
.perfil-error {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 100px;
}