.contacto-titulo{
    margin-top: 50px;
    margin-left: 60px;
}

.contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 10%;
    text-align: justify;
    padding: 5px;
}

.seccion1-contacto {
  flex: 1;
  margin-top: 4px;
}
.info-contacto{
    width: 400px;
    font-size: large;
}

.mapContainer{
    width: 250px;
    height: 160px;
}

.icons-contacto{
    margin-top: 5px;
    padding: 5px;
    margin-left: 35px;
    text-decoration: none;
    color: #3a2d34;
}

.seccion2-contacto {
  flex: 2;
  align-items: right;
  justify-content: right;
  margin-left: 260px;
}

.formContainer-contacto{
    width: 420px;
    height: auto;
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.form-group-contacto{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 10px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
}

.label-contacto {
    display: block;
    margin: 5px;
    font-weight: bold;
}

.tipoConsulta {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 15px;
}
.formBtn, .consultaTipo-btn {
  background-color: #75619d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.consultaTipo-btn {
    width: 130px;
    height: 30px;
    gap: 5px;
    margin: 5px;
    box-shadow: 0 0 4px rgb( 0, 0, 0.1);
}

.formBtn{
    display: block;
    margin: 20px auto 0 auto;
    width: 150px;
    padding: 0.7rem;
}

.consultaTipo-btn:hover, .formBtn:hover {
  background: #56357e;
}


.input-wrapper-contacto {
    position: relative; /* Para posicionar el ícono absolutamente dentro */
    display: flex;
    align-items: center;
}

.input-icon-contacto {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); /* Centra verticalmente */
    font-size: 18px;
    display: flex;
    align-items: center;
    pointer-events: none; /* Evita que interfiera con clics */
}


#mensaje-enviado {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: underline;
    color: #3f2a52;
}