.main-container-login {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

#Logo {
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 10px;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(0, 0, 0.1);
}

.login-titulo {
  text-align: center;
  font-size: 50px;
}

.formContainer {
  width: 500px;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
}

.formContainer label {
  display: block;
  margin: 5px;
  font-weight: bold;
}
.iniciarSesion {
  background-color: rgb(117, 97, 157);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin: 4px 2px;
  width: 150px;
  cursor: pointer;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iniciarSesion:hover{
  background: #3f2a52;
  box-shadow: 0 0 12px rgba(190, 174, 219, 0.9);
}

.passwordOlvidada {
  background: none;
  border: none;
  color: rgb(58, 45, 52);

}