.main-container-login {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

#Logo {
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 10px;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(0, 0, 0.1);
}

.login-titulo {
  text-align: center;
  font-size: 50px;
}

.formContainer {
  width: 500px;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
}

.formContainer label {
  display: block;
  margin: 5px;
  font-weight: bold;
}
.iniciarSesion {
  padding: 10px 20px;
  font-size: 16px;
  margin: 4px 2px;
  width: 150px;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.passwordOlvidada {
  background: none;
  border: none;
  color: #3F2A52;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 15px;
  display: block;
  text-align: center;
}
.passwordOlvidada:hover{
  background-color: white;
  color: #3F2A52;
  box-shadow: none;
}

