.carrito-titulo{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.carrito-container{
    min-height: 60vh
}

.carrito-vacio{
    text-align: center;
    font-weight: 600;
    margin-top: 60px;
}

.carrito-subtitulo{
    margin-left: 100px;
}

.cart {
    margin-top: 23px;
}

.carritoText {
    margin-left: 30px;
}

.carritoDisponible {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding: 0 20px;
}

.container-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    gap: 20px;
}

.card-carrito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    padding: 16px;
    width: 100%;
    max-width: 300px;
    margin: 12px 0;
    margin-left: 10px;
    color: black;
    box-sizing: border-box;
}

.card-carrito:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition: all 0.4s ease;
}

.card-carrito img {
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card-carrito .nombre-producto {
    align-self: start;
    white-space: nowrap;
    color: black;
}

.product-text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;

}

.card-carrito .details-container {
    margin-left: 25px;
    margin-top: 13px;
}

.details {
    font-size: 16px;
    margin: 2px 0;
    padding: 0;
    margin-bottom: 8px;
}

.btn-container {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}   

.btn-sumar, .btn-restar, .btn-eliminar, .btn-confirmar-compra {
    height: 30px;
    width: auto;
    background-color: #75619d;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    text-align: center;
}

.btn-confirmar-compra{
    display: block;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
}

.btn-sumar:hover, .btn-restar:hover, .btn-eliminar:hover, .btn-confirmar-compra:hover {
    background-color: #3f2a52;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}

.link-no-decoration{
    text-decoration: none;
}