html, body{
  margin: 0;
  padding: 0;
  max-height: 100%;
  font-family: merryweather;
}

body{
  display: flexbox;
  flex-direction: column;
  background: rgb(190, 174, 219);
}

#Logo{
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 10px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb( 0, 0, 0.1);
}


h1{
  color: black;
  text-align: center;
  font-size: 50px;  
}

.formContainer{
  width: 500px;
  margin: auto;
  padding: 20px;
  background-color: rgb(255,255,255, 0.4);
  border-radius: 12px;
}

.input_text{
  font-size: 20px;
  color: rgb(58, 45, 52);
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
}

button{
  background-color: rgb(117,97,157);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin: 4px 2px;
  width: 150px;
  cursor: pointer;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#editPassword{
  display: block;
  color: rgb(58, 45, 52);

}